.add-city{
    border: 1px solid lightgray;
    padding-top: 4%;
    padding-left: 48%;
    padding-right: 48%;
    padding-bottom: 4%;
    background-color: #e5e5e5;
}

.add-city:hover{
    background-color: lightgray;
    cursor: pointer;
}