.divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

header{
    margin-bottom: 30px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: #2aabd2;
    color: white;
    padding-left: 10px;
}